.board {
    height: 90vh;
    margin: auto;
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  }

.body{
    margin: 0;
}

.cell {
color: white;
background-color: white;
border: 2px solid black;
}

.cell.start{
    background-color: greenyellow;
}

.cell.end{
    background-color: red;
}

.cell.closed{
    background-color: black;
}

.cell.visited{
    background-color: orange;
}

.cell.path{
    background-color: blue;
}